 body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            
        }
        input {
            width: 200px;
            padding: 10px;
            margin: 10px;
        }
        button {
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
        }
        h2 {
            margin-top: 20px;
        }
        #main{
            background-color: rgb(128, 128, 154);
        }