body{
    font-family: Arial;
    background: rgb(252, 252, 252);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-box {
    border-color: black 2px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    width: 300px;
    height: 600px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(130, 60, 58);
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

button:hover {
    opacity: 0.8; 
}
